github "Alamofire/Alamofire" ~> 4.7.3
git "ssh://git@git.ssp-europe.eu/~mathias.schreiner/crypto_asn1_fix.git" "develop"
git "ssh://git@git.ssp-europe.eu/~mathias.schreiner/dracoon_sdk.git" "feature/SDKSWIFT-29-swift-5-migration"
